swagger: '2.0'
info:
  description: >-
    The `Party` archetype represents an identifiable, addressable entity that
    may have a legal status and that normally has autonomous control over (at
    least some of) its actions.



    ---
  version: 1.0.0
  title: Party
  termsOfService: >-
    https://github.com/gregswindle/open-api-archetypes/blob/master/TERMS_OF_SERVICE.md
  contact:
    email: greg@swindle.net
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.swindle.net
basePath: /archetypes/v1/parties
tags:
  - name: parties
    description: 'A list of archetypes that represent identifiable, addressable entities.'
schemes:
  - http
  - https
paths:
  '/{uuid}':
    get:
      tags:
        - parties
      summary: Retrieve a specific Party entity.
      description: Retrieve a Party by its universally unique identifier (UUID).
      produces:
        - application/json
        - application/xml
      operationId: getPartyByUuid
      parameters:
        - in: path
          name: uuid
          description: The univerally unique identifier associated with a Party.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Party'
        '400':
          description: Bad Request.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/400.schema.json
        '401':
          description: 'Unauthorized. '
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/401.schema.json
        '403':
          description: Forbidden.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/403.schema.json
        '404':
          description: Not Found.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/404.schema.json
        '405':
          description: 'Method Not Allowed. '
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/405.schema.json
definitions:
  Locale:
    $ref: 'http://api.swindle.net/archetypes/v1/schemas/locale/locale.schema.json'
  IsoCountryCode:
    $ref: >-
      http://api.swindle.net/archetypes/v1/schemas/locale/iso-country-code.schema.json
  Address:
    discriminator: type
    type: object
    description: Represents information that can be used to contact a Party.
    required:
      - type
      - value
    properties:
      type:
        default: 'null'
        description: 'A string indicating what type of field this is, e.g., "work".'
        type: string
        enum:
          - EMAIL_ADDRESS
          - GEOGRAPHIC_ADDRESS
          - TELECOM_ADDRESS
          - URL_ADDRESS
      validFrom:
        default: 'null'
        description: The date on which the RegisteredIdentifier went into effect.
        format: date
        type: string
      validTo:
        default: 'null'
        description: The date on which the RegisteredIdentifier expired.
        format: date
        type: string
      value:
        default: 'null'
        description: The full address formatted for display.
        type: string
  EmailAddress:
    allOf:
      - $ref: '#/definitions/Address'
      - title: EmailAddress
  GeographicAddress:
    allOf:
      - $ref: '#/definitions/Address'
      - description: Represents a geographic location at which a Party may be contacted.
      - properties:
          addressLines:
            description: >-
              One or more lines that physically identify a location. The first
              line of an address is often a building name, a building number and
              street, or postal box number; the other address lines are for
              location information that further localizes the physical point of
              contact, e.g., suite or apartment number.
            type: array
            items:
              type: string
          city:
            description: 'The name of a city, town, or locality.'
            type: string
          country:
            $ref: '#/definitions/IsoCountryCode'
          regionOrState:
            description: >-
              The name of a geographical region within a country--in the USA,
              the would be a state; in England, a county; and in Switzerland, a
              canton.
            type: string
          zipOrPostalCode:
            description: A code used to identify a geographic area.
            type: string
      - required:
          - addressLines
          - city
          - regionOrState
          - zipOrPostalCode
      - title: GeographicAddress
  TelecomAddress:
    allOf:
      - $ref: '#/definitions/Address'
      - description: >-
          Represents a number that can contact a telephone, mobile phone, fax,
          pager, or other telephonic device.
      - properties:
          areaCode:
            description: The code for an area or city.
            type: string
          countryCode:
            description: The number required to directly dial a particular country.
            type: string
          extension:
            description: An extension accessible via the number.
            type: string
          nationalDirectDialingPrefix:
            description: >-
              The prefix required to make a call within a country between two
              different cities, localities, or areas--generally dropped when
              dialing from outside the country (with some exceptions).
            type: string
          number:
            description: >-
              The "telephone" number, which may be (arbitrarily) formatted into
              one or mnemonic sequences of digits depending on local standards.
            type: string
          physicalType:
            description: The type of device accessed by the TelecomAddress.
            type: string
            enum:
              - phone
              - fax
              - mobile
              - pager
              - sms
      - title: TelecomAddress
  UrlAddress:
    allOf:
      - $ref: '#/definitions/Address'
      - description: >-
          The unqiue address of a resource, e.g., Web page, on a computer
          network.
      - title: UrlAddress
  PreferenceOption:
    description: Specifies the name of a possible option and its description.
    type: object
    properties:
      description:
        description: A succinct summary of the PreferenceOption.
        type: string
      name:
        description: The PreferenceOption's name.
        type: string
  PreferenceType:
    description: >-
      Specifies the name, a description, and a range of PreferenceOptions for a
      Preference.
    type: object
    properties:
      description:
        description: A succinct summary of the PreferenceType.
        type: string
      name:
        description: The classification name of the Perference range.
        type: string
      options:
        description: A collection of one or more PreferenceOptions.
        type: array
        items:
          $ref: '#/definitions/PreferenceOption'
  Preference:
    description: >-
      Represents a Party's expressed choice of (or liking for) something, often
      from a set of possible or offered options.
    type: object
    properties:
      option:
        $ref: '#/definitions/PreferenceOption'
      preferenceWeight:
        type: integer
      type:
        $ref: '#/definitions/PreferenceType'
  RegisteredIdentifier:
    type: object
    description: >-
      The RegisteredIdentifier represents an identifier for a Party that has
      been assigned by a recognized or statutory body.
    properties:
      identifier:
        type: string
        description: >-
          A string that signifies a Party. The identifier's value is unique in
          the context of time and the registrationAuthority that assigned it.
      registrationAuthority:
        description: >-
          Represents the recognized or statutory body responsible for assigning
          the RegisteredIdentifier and associating it with a Party.
        type: string
      type:
        description: A value that classifies the RegisteredIdentifier
        type: string
        enum:
          - VZID
          - ENTERPRISE_ID
          - EMPLID
          - SSN
          - ONE_WORLD
      validFrom:
        description: The date on which the RegisteredIdentifier went into effect.
        type: string
        format: date
        default: 'null'
      validTo:
        description: The date on which the RegisteredIdentifier expired.
        type: string
        format: date
        default: 'null'
  PartyRole:
    type: object
    description: >-
      Captures the semantics of the role played by a Party in a particular
      PartyRelationship.
    properties:
      description:
        description: A summary of the PartyRole.
        type: string
      name:
        description: The name of the PartyRole.
        type: string
      party:
        $ref: '#/definitions/Party'
  Party:
    type: object
    description: >-
      Represents an identifiable, addressable entity that may have a legal
      status and that normally has autonomous control over (at least some of)
      its actions.
    properties:
      uuid:
        type: string
        description: A globally unique identifier.
      addresses:
        type: array
        items:
          $ref: '#/definitions/Address'
        default: '[]'
        description: An array of the Party's addresses.
      description:
        type: string
        default: 'null'
        description: An optional description of the Party.
      preferences:
        description: A list of Preferences associated with the Party.
        type: array
        items:
          $ref: '#/definitions/Preference'
        default: '[]'
      registeredIds:
        type: array
        items:
          $ref: '#/definitions/RegisteredIdentifier'
        default: '[]'
        description: >-
          An identifier for a Party that has been assigend by a recognized or
          statutory body.
      roles:
        type: array
        items:
          $ref: '#/definitions/PartyRole'
        default: '[]'
        description: An array of the Party's roles.
  AddressProperties:
    description: Specifies information about an address assigned to a specific Party.
    type: object
    properties:
      address:
        $ref: '#/definitions/Address'
      party:
        $ref: '#/definitions/Party'
      uses:
        description: Limits the context in which the Address is applicable.
        type: array
        items:
          type: string
          example: []
  Ethnicity:
    description: >-
      Represents a classification of one or more People according to common
      racial, national, tribal, religious, linguistic, or cultural origin or
      background. Each Person may have zero or more Ethnicities.

      Ethnicities can be used to categorize Preferences by cohorts (and not by
      individual). E.g., Jains are strict vegetarians; Muslims eat meat prepared
      as prescribed by Muslim law.
    type: object
    properties:
      name:
        description: The name of the Ethnicity.
        type: string
      description:
        description: Optionally provides additional information about the Ethnicity.
        type: string
    required:
      - name
  IsoSex:
    description: >-
      ISO/IEC 5218:2004 specifies a uniform representation of human sexes for
      the interchange of information. It provides a set of numeric codes that
      are independent of language-derived codes and as such is intended to
      provide a common basis for the international exchange of information
      containing human sex data.
    type: string
    enum:
      - 0 // Not known
      - 1 // Male
      - 2 // Female
      - 9 // Not specified
      - NOTKNOWN // 0
      - MALE // 1
      - FEMALE // 2
      - NOTSPECIFIED // 9
    externalDocs:
      description: 'ISO/IEC 5218:2004: Codes for the representation of human sexes'
      url: 'https://www.iso.org/standard/36266.html'
  Gender:
    description: >-
      Represents the range of characteristics pertaining to, and differentiating
      between, masculinity and femininity. Depending on the context, these
      characteristics may include biological sex (i.e. the state of being male,
      female or an intersex variation which may complicate sex assignment),
      sex-based social structures (including gender roles and other social
      roles), or gender identity. Some cultures have specific gender roles that
      can be considered distinct from male and female, such as the hijra
      (chhaka) of India and Pakistan.
    type: object
    properties:
      name:
        description: The designated name of the Gender.
        type: string
        enum:
          - Agender
          - Androgyne
          - Androgynous
          - Bigender
          - Cis
          - Cisgender
          - Cis Female
          - Cis Male
          - Cis Man
          - Cis Woman
          - Cisgender Female
          - Cisgender Male
          - Cisgender Man
          - Cisgender Woman
          - Female to Male
          - FTM
          - Gender Fluid
          - Gender Nonconforming
          - Gender Questioning
          - Gender Variant
          - Genderqueer
          - Intersex
          - Male to Female
          - MTF
          - Neither
          - Neutrois
          - Non-binary
          - Other
          - Pangender
          - Trans
          - Trans*
          - Trans Female
          - Trans* Female
          - Trans Male
          - Trans* Male
          - Trans Man
          - Trans* Man
          - Trans Person
          - Trans* Person
          - Trans Woman
          - Trans* Woman
          - Transfeminine
          - Transgender
          - Transgender Female
          - Transgender Male
          - Transgender Man
          - Transgender Person
          - Transgender Woman
          - Transmasculine
          - Transsexual
          - Transsexual Female
          - Transsexual Male
          - Transsexual Man
          - Transsexual Person
          - Transsexual Woman
          - Two-Spirit
          - AF-A-A // Androgyne Bisexual Androfemale
          - AF-A-F // Androgyne Homosexual Androfemale
          - AF-A-M // Androgyne Heterosexual Androfemale
          - AF-F-A // Feminine Bisexual Androfemale
          - AF-F-F // Feminine Homosexual Androfemale
          - AF-F-M // Feminine Heterosexual Androfemale
          - AF-M-F // Masculine Bisexual Androfemale
          - AF-M-F // Masculine Homosexual Androfemale
          - AF-M-M // Masculine Heterosexual Androfemale
          - AM-A-A // Androgyne Bisexual Andromale
          - AM-A-F // Androgyne Heterosexual Andromale
          - AM-A-M // Androgyne Homosexual Andromale
          - AM-F-A // Feminine Bisexual Andromale
          - AM-F-F // Feminine Heterosexual Andromale
          - AM-F-M // Feminine Homosexual Andromale
          - AM-M-A // Masculine Bisexual Andromale
          - AM-M-F // Masculine Heterosexual Andromale
          - AM-M-M // Masculine Homosexual Andromale
          - F-A-A  // Androgyne Bisexual Woman
          - F-A-F  // Androgyne Homosexual Woman
          - F-A-M  // Androgyne Heterosexual Woman
          - F-F-A  // Feminine Bisexual Woman
          - F-F-F  // Feminine Homosexual Woman
          - F-F-M  // Feminine Heterosexual Woman
          - F-M-A  // Masculine Bisexual Woman
          - F-M-F  // Masculine Homosexual Woman
          - F-M-M  // Masculine Heterosexual Woman
          - HA-A-A // Androgyne Bisexual Androdite
          - HA-A-F // Androgyne Female-Attracted Androdite
          - HA-A-M // Androgyne Male-Attracted Androdite
          - HA-F-A // Feminine Bisexual Androdite
          - HA-F-F // Feminine Female-Attracted Androdite
          - HA-F-M // Feminine Male-Attracted Androdite
          - HA-M-F // Masculine Bisexual Androdite
          - HA-M-F // Masculine Female-Attracted Androdite
          - HA-M-M // Masculine Male-Attracted Androdite
          - HF-A-A // Androgyne Bisexual Hermaphrofemale
          - HF-A-F // Androgyne Female-Attracted Hermaphrofemale
          - HF-A-M // Androgyne Male-Attracted Hermaphrofemale
          - HF-F-A // Feminine Bisexual Hermaphrofemale
          - HF-F-F // Feminine Female-Attracted Hermaphrofemale
          - HF-F-M // Feminine Male-Attracted Hermaphrofemale
          - HF-M-F // Masculine Bisexual Hermaphrofemale
          - HF-M-F // Masculine Female-Attracted Hermaphrofemale
          - HF-M-M // Masculine Male-Attracted Hermaphrofemale
          - HM-A-A // Androgyne Bisexual Hermaphromale
          - HM-A-F // Androgyne Female-Attracted Hermaphromale
          - HM-A-M // Androgyne Male-Attracted Hermaphromale
          - HM-F-A // Feminine Bisexual Hermaphromale
          - HM-F-F // Feminine Female-Attracted Hermaphromale
          - HM-F-M // Feminine Male-Attracted Hermaphromale
          - HM-M-F // Masculine Bisexual Hermaphromale
          - HM-M-F // Masculine Female-Attracted Hermaphromale
          - HM-M-M // Masculine Male-Attracted Hermaphromale
          - M-A-A  // Androgyne Bisexual Man
          - M-A-F  // Androgyne Heterosexual Man
          - M-A-M  // Androgyne Homosexual Man
          - M-F-A  // Feminine Bisexual Man
          - M-F-F  // Feminine Heterosexual Man
          - M-F-M  // Feminine Homosexual Man
          - M-M-A  // Masculine Bisexual Man
          - M-M-F  // Masculine Heterosexual Man
          - M-M-M  // Masculine Homosexual Man
      description:
        description: A summary or definition of the Gender.
        type: string
        example:
          - Masculine Male-Attracted Androdite
          - Androgyne Male-Attracted Hermaphromale
    externalDocs:
      description: 63 GENDERS
      url: 'https://apath.org/63-genders/'
  BodyMetrics:
    description: >-
      Provides a way to store information about the human body such as size,
      weight, hair color, measurements, and so on.
    type: object
  Person:
    allOf:
      - $ref: '#/definitions/Party'
      - description: Represents information about a human being.
      - properties:
          bodyMetrics:
            $ref: '#/definitions/BodyMetrics'
          dateOfBirth:
            description: The Person's date of birth.
            type: string
            format: date
          gender:
            $ref: '#/definitions/Gender'
          isoSex:
            $ref: '#/definitions/IsoSex'
      - title: Person
  ErrorResponse:
    allOf:
      - $ref: >-
          http://api.swindle.net/archetypes/v1/schemas/log/error-response.schema.json
      - description: >-
          ErrorResponse captures all 4xx class of status codes, for cases in
          which the client seems to have erred. Except when responding to a HEAD
          request, the server SHOULD include an entity containing an explanation
          of the error situation, and whether it is a temporary or permanent
          condition. These status codes are applicable to any request method.
          User agents SHOULD display any included entity to the user.
