swagger: '2.0'
info:
  description: >-
    The `Quantity` archetype represents an amount of something measured
    according to some standard of measurement.



    ---
  version: 1.0.0
  title: Quantity
  contact:
    email: greg@swindle.net
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.swindle.net
basePath: /archetypes/v1/quantities
tags:
  - name: Systems Of Units
    description: Represents a set of related Units defined by a standard such as SI.
  - name: SI (International System of Units)
    description: >-
      Standard weights and measures maintained by the International System of
      Units (SI).
  - name: Labor
    description: 'Contains a set of labor-related measures, e.g., WorkHour.'
schemes:
  - http
  - https
externalDocs:
  description: Bureau International des Poids et Mesures (BIPM)
  url: 'https://www.bipm.fr/'
paths:
  /systems-of-units:
    get:
      tags:
        - Systems Of Units
      summary: Retrieve all systems of units.
      description: Retrieve all systems of units.
      produces:
        - application/json
        - application/xml
      operationId: getSystemsOfUnits
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SystemOfUnits'
        '400':
          description: Bad Request.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/400.schema.json
        '401':
          description: 'Unauthorized. '
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/401.schema.json
        '403':
          description: Forbidden.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/403.schema.json
        '404':
          description: Not Found.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/404.schema.json
        '405':
          description: 'Method Not Allowed. '
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/405.schema.json
  '/systems-of-units/{name-of-system}':
    get:
      tags:
        - Systems Of Units
      summary: Retrieve a specific system of units by name.
      description: Retrieve a specific system of units by name.
      produces:
        - application/json
        - application/xml
      operationId: getSystemOfUnitsByName
      parameters:
        - in: path
          name: name-of-system
          description: >-
            The name of the system of units, e.g., "si" for the International
            System of Units (SI).
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/quantity/system-of-units.schema.json
        '400':
          description: Bad Request.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/400.schema.json
        '401':
          description: 'Unauthorized. '
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/401.schema.json
        '403':
          description: Forbidden.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/403.schema.json
        '404':
          description: Not Found.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/404.schema.json
        '405':
          description: 'Method Not Allowed. '
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/405.schema.json
  '/systems-of-units/si/base-units/{name}':
    get:
      tags:
        - SI (International System of Units)
      summary: Retrieve a metric or unit by its SI name.
      description: Retrieve a specific system of units by name.
      produces:
        - application/json
        - application/xml
      operationId: getBaseUnitByName
      parameters:
        - in: path
          name: name
          description: The name of the unit/metric.
          required: true
          type: string
          enum:
            - ampere
            - candela
            - kelvin
            - kilogram
            - meter
            - mole
            - second
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiBaseUnit'
        '400':
          description: Bad Request.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/400.schema.json
        '401':
          description: 'Unauthorized. '
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/401.schema.json
        '403':
          description: Forbidden.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/403.schema.json
        '404':
          description: Not Found.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/404.schema.json
        '405':
          description: 'Method Not Allowed. '
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/405.schema.json
  '/systems-of-units/labor/{name}':
    get:
      tags:
        - Labor
      summary: Retrieve a metric or unit by name.
      description: Retrieve a specific system of units by name.
      produces:
        - application/json
        - application/xml
      operationId: getUnitByName
      parameters:
        - in: path
          name: name
          description: 'The name of the unit/metric in kebab case, e.g., "work-hour".'
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Unit'
        '400':
          description: Bad Request.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/400.schema.json
        '401':
          description: 'Unauthorized. '
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/401.schema.json
        '403':
          description: Forbidden.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/403.schema.json
        '404':
          description: Not Found.
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/404.schema.json
        '405':
          description: 'Method Not Allowed. '
          schema:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/log/error-response/405.schema.json
definitions:
  SystemOfUnits:
    $ref: >-
      http://api.swindle.net/archetypes/v1/schemas/quantity/system-of-units.schema.json
  Metric:
    $ref: 'http://api.swindle.net/archetypes/v1/schemas/quantity/metric.schema.json'
  Unit:
    allOf:
      - $ref: '#/definitions/Metric'
      - properties:
          systemOfUnits:
            $ref: >-
              http://api.swindle.net/archetypes/v1/schemas/quantity/system-of-units.schema.json
      - description: Represents a type of `Metric` that is part of a `SystemOfUnits`.
  DerivedUnitTerm:
    allOf:
      - $ref: '#/definitions/Unit'
      - description: >-
          Represents part of a DerivedUnit comprising a single Unit and its
          power.
      - properties:
          power:
            description: TBD
            type: integer
          unit:
            $ref: '#/definitions/Unit'
  DerivedUnit:
    allOf:
      - $ref: '#/definitions/Unit'
      - description: >-
          Represents a combination of one or more base Units according to a
          specific equation.
      - properties:
          terms:
            type: array
            items:
              $ref: '#/definitions/DerivedUnitTerm'
  RoundingStrategy:
    description: >-

      An enum that represents an aspect of a RoundingPolicy that determines the
      type of rounding to be applied. Allowed values are:

      * ROUND_UP - Rounds a number to the specified numberOfDigits, moving its
      value away from zero.


      * ROUND_DOWN - Rounds a number to the specified numberOfDigits, moving its
      value towards zero, thereby truncating the number at the specified
      precision.


      * ROUND - Behaves like ROUND_UP if the digit following the specified
      numberOfDigits is greater than or equal to the specified roundingDigit;
      otherwise, behaves like ROUND_DOWN. Note that the most common
      roundingDigit is 5.


      * ROUND_UP_BY_STEP - Rounds a number up to the nearest multiple of the
      specified `roundingStep`, moving its value away from zero. This allows
      numbers to be rounded in specific steps--e.g., if prices are to rounded up
      to the nearest 25 cents. **Note:** A `numberOfDigits` value is not
      required with `ROUND_UP_BY_STEP`, since `ROUND_UP_BY_STEP` also dictates
      the decimal precision.


      * ROUND_DOWN_BY_STEP - Rounds a number down to the nearest multiple of the
      specified `roundingStep`, moving its value towards zero. This allows
      numbers to be rounded in specific steps--e.g., if prices are to rounded up
      to the nearest 25 cents. **Note:** A `numberOfDigits` value is not
      required with `ROUND_DOWN_BY_STEP`, since `ROUND_DOWN_BY_STEP` also
      dictates the decimal precision.


      * ROUND_TOWARDS_POSITIVE - Behaves like `ROUND_UP` for _positive_ numbers
      and like `ROUND_DOWN` for _negative_ numbers.


      * ROUND_TOWARDS_NEGATIVE - Behaves like `ROUND_UP` for _negative_ numbers
      and like `ROUND_DOWN` for _positive_ numbers.
    type: number
    enum: &ref_0
      - ROUND_UP
      - ROUND_DOWN
      - ROUND
      - ROUND_UP_BY_STEP
      - ROUND_DOWN_BY_STEP
      - ROUND_TOWARDS_POSITIVE
      - ROUND_TOWARDS_NEGATIVE
  RoundingPolicy:
    description: >-
      Determines the mathematical semantics of the Quantity archetype's round()
      operation.
    type: object
    properties:
      numberOfDigits:
        description: The number of digits before or after the decimal place.
        type: integer
      roundingDigit:
        description: >-
          A test digit with which a digit within the number being rounded is
          compared.
        type: integer
      roundingStep:
        description: >-
          The multiple to which you want to round. E.g., to round a price of
          $3.1412 to an accuracy of five (5) cents, use a `roundingStep` of
          `0.05`.
        type: number
      roundingStrategy:
        type: number
        enum: *ref_0
  Quantity:
    description: Represents an amount measured in some Metric.
    type: object
    properties:
      amount:
        description: 'The total of a thing or things in number, size, value, or extent.'
        type: number
        default: 0
      metric:
        $ref: '#/definitions/Metric'
      roundingPolicy:
        $ref: '#/definitions/RoundingPolicy'
  WorkHour:
    allOf:
      - $ref: '#/definitions/Unit'
      - properties:
          systemOfUnits:
            $ref: '#/definitions/SystemOfUnits'
      - description: >-
          Represents an amount of work corresponding to one Person working for
          one hour.
  SiSystemOfUnits:
    $ref: >-
      http://api.swindle.net/archetypes/v1/schemas/quantity/si-system-of-units.schema.json
  SiBaseUnit:
    allOf:
      - $ref: '#/definitions/Unit'
      - description: >-
          Represents one of the based units defined in the International System
          of Units (SI).
      - properties:
          systemOfUnits:
            $ref: '#/definitions/SiSystemOfUnits'
  Meter:
    allOf:
      - $ref: '#/definitions/SiBaseUnit'
      - description: A unit of length.
      - properties:
          name:
            default: meter
          symbol:
            default: m
          definition:
            default: >-
              The meter is the length of the path travelled by light in vacuum
              during a time interval of 1/299792458th of a second.
  Second:
    allOf:
      - $ref: '#/definitions/SiBaseUnit'
      - description: A unit of time.
      - properties:
          name:
            default: second
          symbol:
            default: s
          definition:
            default: >-
              The second is the duration of 9,192,631,770 (9.192631770 x 10⁹)
              cycles of the radiation produced by the transition between two
              levels of the cesium 133 atom.
  Ampere:
    allOf:
      - $ref: '#/definitions/SiBaseUnit'
      - description: A unit of electric current.
      - properties:
          name:
            default: ampere
          symbol:
            default: A
          definition:
            default: >-
              The ampere is that current which, if maintained in each of two
              infinitely long parallel wires separated by one meter in free
              space, would produce a force between the two wires (due to their
              magnetic fields) of 2 x 10⁻⁷ newtons for each meter of length. The
              SI unit of electric resistance is the ohm (Ω). 1 Ω = 1 V/A.
      - externalDocs:
          description: SI Units - Ampere | NIST
          url: 'https://www.nist.gov/pml/weights-and-measures/si-units-ampere'
  Kelvin:
    allOf:
      - $ref: '#/definitions/SiBaseUnit'
      - description: A unit of thermodynamic temperature.
      - properties:
          name:
            default: kelvin
          symbol:
            default: K
          definition:
            default: >-
              The Kelvin (K) is the fraction 1/273.16 of the thermodynamic
              temperature of the triple point of water.
      - externalDocs:
          description: 'SI Units: Temperature | NIST'
          url: 'https://www.nist.gov/pml/weights-and-measures/si-units-temperature'
  Mole:
    allOf:
      - $ref: '#/definitions/SiBaseUnit'
      - description: A unit of amount of substance.
      - properties:
          name:
            default: mole
          symbol:
            default: mol
          definition:
            default: >-
              The amount of substance of a system that contains as many
              elementary entities as there are atoms in 0.012 kilogram of carbon
              12.
      - externalDocs:
          description: SI Units - Mole | NIST
          url: 'https://www.nist.gov/pml/weights-and-measures/si-units-mole'
  Candela:
    allOf:
      - $ref: '#/definitions/SiBaseUnit'
      - description: A unit of luminous intensity.
      - properties:
          name:
            default: Candela
          symbol:
            default: cd
          definition:
            default: >-
              The luminous intensity, in a given direction, of a source that
              emits monochromatic radiation of frequency 540 x 1012 hertz (Hz)
              and that has a radiant intensity in that direction of 1/683 watt
              per steradian.
      - externalDocs:
          description: SI Units - Candela | NIST
          url: 'https://www.nist.gov/pml/weights-and-measures/si-units-candela'
  Kilogram:
    allOf:
      - $ref: '#/definitions/SiBaseUnit'
      - description: A unit of mass.
      - properties:
          name:
            default: kilogram
          symbol:
            default: kg
          definition:
            default: >-
              The unit of mass equal to the mass of the international prototype
              of the kilogram, a platinum-iridium standard that is kept at the
              International Bureau of Weights and Measures (BIPM). The primary
              standard of mass for this country is United States Prototype
              Kilogram 20, which is a platinum-iridium cylinder kept at NIST.
      - externalDocs:
          description: 'SI Units: Mass | NIST'
          url: 'https://www.nist.gov/pml/weights-and-measures/si-units-mass'
  ErrorResponse:
    allOf:
      - $ref: >-
          http://api.swindle.net/archetypes/v1/schemas/log/error-response.schema.json
      - description: >-
          ErrorResponse captures all 4xx class of status codes, for cases in
          which the client seems to have erred. Except when responding to a HEAD
          request, the server SHOULD include an entity containing an explanation
          of the error situation, and whether it is a temporary or permanent
          condition. These status codes are applicable to any request method.
          User agents SHOULD display any included entity to the user.
